<div>
  <h1 class="font-bold text-4xl"><%= @book.title %></h1>

  <div>
    <p>Author: <%= @book.author%></p>
  </div>

  <div>
    <p>ISBN: <%= @book.isbn%></p>
  </div>


  <div>
    <p>Availability: <%= @book.status%></p>
  </div>

  <%= link_to "Back to book listings", books_path %>


</div>
